{% extends 'corp/base.html' %}
{% load static %}

{% block content %}
    <div class="container ">
        <div class="row text-center">
            <div class="container border custom-background header-bordered ">
                <h2>Resumen de instrumentos patrones</h2>
                <br>
                <h4>Total de instrumentos patrones: {{ cant_patr }}
                    <i class="fa fa-plus" onclick="modal_function('{{ inst_patr_more_info|escapejs }}')"></i>

                </h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Electricidad
                            {% for k, v in electr.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Presión
                            {% for k, v in presion.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Temperatura
                            {% for k, v in temp.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Flujo/Gasto
                            {% for k, v in flujo.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Volumen
                            {% for k, v in volumen.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dimensional
                            {% for k, v in dim.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Masa
                            {% for k, v in masa.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fuerza
                            {% for k, v in fuerza.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fisico/Quimico
                            {% for k, v in fis_quim.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Vibraciones
                            {% for k, v in vibr.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ruidos/Sonómetros
                            {% for k, v in ruido.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iluminación/Luxómetros
                            {% for k, v in ilum.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Patrones de ensayos metalográficos
                            <br>{{ cant_patr_metalografico }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_patr_metalograficos_more_info|escapejs }}')"></i>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Patrones de ensayos quimicos
                            <br>{{ cant_patr_quimicos }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_patr_quimicos_more_info|escapejs }}')"></i>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card-group">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title  text-center"> Electricidad</h5>
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Energía monofásicos de alta
                                exactitud {{ cant_energia_monofasico }}
                                <i class="fa fa-plus"
                                   onclick="modal_function('{{ inst_energia_monofasico_more_info|escapejs }}')"></i>

                            </p>

                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Energía trifásicos de alta
                                exactitud {{ cant_energia_trifasico }}
                                <i class="fa fa-plus"
                                   onclick="modal_function('{{ inst_energia_trifasico_more_info|escapejs }}')"></i>
                            </p>

                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Energía de trabajo
                                <br>{{ cant_patr_ener_trab }}
                                <i class="fa fa-plus"
                                   onclick="modal_function('{{ inst_patr_ener_trab_more_info|escapejs }}')"></i>

                            </p>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <p class="card-text text-center">Intensidad de corriente:
                                {% for k, v in cant_electr_intensidad.items %}
                                    {{ k }}
                                    <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                                {% endfor %}
                            </p>

                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Tensión:
                                {% for k, v in cant_electr_tension.items %}
                                    {{ k }}
                                    <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                                {% endfor %}
                            </p>

                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Resistencia:
                                {% for k, v in cant_electr_resistencia.items %}
                                    {{ k }}
                                    <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                                {% endfor %}
                            </p>

                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">Relación de Transformación: {{ cant_rel_trans }}
                                <i class="fa fa-plus" onclick="modal_function('{{ inst_rel_trans|escapejs }}')"></i>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 ">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Presión</h5>

                        <div class="dropdown-divider"></div>
                        <p class="card-text">Hasta 1 MPa:
                            {% for k, v in presion_1mpa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 1.1 MPa a 10 MPa:
                            {% for k, v in presion_1_10.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 10.1 MPa a 100 MPa:
                            {% for k, v in presion_10_100.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 100.1 MPa a 250 MPa:
                            {% for k, v in presion_100_250.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center"> Temperatura</h5>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">Hasta 100 ºC:
                            {% for k, v in temp_100.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 100 ºC a 500 ºC:
                            {% for k, v in temp_100_500.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 500 ºC a 1000 ºC:
                            {% for k, v in temp_500_1000.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                        <div class="dropdown-divider"></div>
                        <p class="card-text ">De 1000 ºC a 2000 ºC:
                            {% for k, v in temp_1000_2000.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/gen.js' %}"></script>
{% endblock %}