{% extends 'corp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="container border header-bordered ">
            <h3>Instrumentos de trabajo por fabricante</h3>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for f, ctd, dictionary in fab1 %}
                            <p class="card-text">{{ f }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for f, ctd, dictionary in fab2 %}
                            <p class="card-text">{{ f }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for f, ctd, dictionary in fab3 %}
                            <p class="card-text">{{ f }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for f, ctd, dictionary in fab4 %}
                            <p class="card-text">{{ f }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/gen.js' %}"></script>
{% endblock %}