{% extends 'corp/base.html' %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="container border header-bordered custom-background">
                <h2>Resumen de instrumentos de trabajo</h2>
                <br>
                <h4>Total de instrumentos de trabajo: {{ cant_trab }}</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Electricidad
                            <br>{{ cant_electr }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Presión
                            <br>{{ cant_presion }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Temperatura
                            <br>{{ cant_temp }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Flujo/Gasto
                            <br>{{ cant_flujo }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Volumen
                            <br>{{ cant_volumen }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dimensional
                            <br>{{ cant_dim }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Masa
                            <br>{{ cant_masa }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fuerza
                            <br>{{ cant_fuerza }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fisico/Quimico
                            <br>{{ cant_fis_quim }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Vibraciones
                            <br>{{ cant_vibr }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ruidos/Sonómetros
                            <br>{{ cant_ruido }}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iluminación/Luxómetros
                            <br>{{ cant_ilum }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores Armonicos</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_arm }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Frecuencia</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_mag_frec }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Relación de Transformación</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_ttr }}</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores Dimensionales</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Pie de rey: {{ count_pie_rey }} </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Pie de rey con magnitud especifica
                            profundidad: {{ count_pie_rey_profundidad }} </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Micrometros</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Hasta 100mm: {{ count_micrometro_100_mm }} </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 100.1mm a 500mm: {{ count_micrometro_100_500_mm }} </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 500.1mm a 1000mm: {{ count_micrometro_500_1000_mm }} </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Mas de 1000mm: {{ count_micrometro_1000_mm }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Tension</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Hasta 1 kV: {{ count_1_kV }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 1kV a 5kV: {{ count_1_5_V }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 5.1kV a 10kV: {{ count_5_10_kV }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 10.1kV a 15kV: {{ count_10_15_kV }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 15.1kV a 150kV: {{ count_15_150_kV }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 150.1kV a 300kV: {{ count_150_300_kV }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De mas de 300kV: {{ count_301_kV }}</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Otros</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Cintas metricas: {{ count_cintas }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Medidores de nivel: {{ count_medidor_nivel }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Medidores de angulos: {{ count_medidor_angulo }} </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Comparadores de caratulas: {{ count_comparador_caratula }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Reglas: {{ count_regla }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Galgas: {{ count_galga }}</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Presion</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Vacuometros: {{ count_vacuometro }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 0Pa a 50Pa: {{ count_0_50_Pa }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 1.1kPa a 7kPa: {{ count_1_7_kPa }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 7.1kPa a 10kPa: {{ count_7_10_kPa }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 10.1kPa a 20kPa: {{ count_10_20_kPa }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 20.1kPa a 25kPa: {{ count_20_25_kPa }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Medidores de resistencia</h4>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title  text-center">Miliohm</h5>
                        {% for k, v in miliohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ v }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ohm</h5>
                        {% for k, v in ohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ v }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kiloohm</h5>
                        {% for k, v in kiloohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ v }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Megaohm</h5>
                        {% for k, v in megaohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ v }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}