{% extends 'corp/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="container border header-bordered custom-background">
                <h2>Resumen de instrumentos de trabajo</h2>
                <br>
                <h4>Total de instrumentos de trabajo: {{ cant_trab }}
                    <i class="fa fa-plus" onclick="modal_function('{{ inst_trab_more_info|escapejs }}')"></i>
                </h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Electricidad
                            {% for k, v in electr.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Presión
                            {% for k, v in presion.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Temperatura
                            {% for k, v in temp.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Flujo/Gasto
                            {% for k, v in flujo.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Volumen
                            {% for k, v in volumen.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dimensional
                            {% for k, v in dim.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Masa
                            {% for k, v in masa.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fuerza
                            {% for k, v in masa.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Fisico/Quimico
                            {% for k, v in fis_quim.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Vibraciones
                            {% for k, v in vibr.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ruidos/Sonómetros
                            {% for k, v in ruido.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iluminación/Luxómetros
                            {% for k, v in ilum.items %}
                                <br>{{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores Armonicos</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_arm }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_armonico_more_info|escapejs }}')"></i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Frecuencia</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_mag_frec }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_mag_frec_more_info|escapejs }}')"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Relación de Transformación</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">{{ count_ttr }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_ttr_more_info|escapejs }}')"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores Dimensionales</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Pie de rey: {{ count_pie_rey }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_pie_rey_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Pie de rey con magnitud especifica
                            profundidad: {{ count_pie_rey_profundidad }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_pie_rey_profundidad_more_info|escapejs }}')"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Micrometros</h4>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Hasta 100mm:
                            {% for k, v in inst_micrometro_100_mm.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 100.1mm a 500mm:
                            {% for k, v in inst_micrometro_100_500_mm.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 500.1mm a 1000mm:
                            {% for k, v in inst_micrometro_500_1000_mm.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Mas de 1000mm:
                            {% for k, v in inst_micrometro_1000_mm.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Tension</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Hasta 1 kV:
                            {% for k, v in inst_1_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 1kV a 5kV:
                            {% for k, v in inst_1_5_V.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 5.1kV a 10kV:
                            {% for k, v in inst_5_10_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 10.1kV a 15kV:
                            {% for k, v in inst_10_15_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 15.1kV a 150kV:
                            {% for k, v in inst_15_150_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De 150.1kV a 300kV:
                            {% for k, v in inst_150_300_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">De mas de 300kV:
                            {% for k, v in inst_301_kV.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Otros</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Cintas metricas:
                            {{ count_cintas }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_cintas_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Medidores de nivel:
                            {{ count_medidor_nivel }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_medidor_nivel_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Medidores de angulos:
                            {{ count_medidor_angulo }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_medidor_angulo_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Comparadores de caratulas:
                            {{ count_comparador_caratula }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_comparador_caraturla_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Reglas:
                            {{ count_regla }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_regla_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">Galgas:
                            {{ count_galga }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_galga_more_info|escapejs }}')"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title"> Medidores de Presion</h4>
                        <div class="dropdown-divider"></div>

                        <p class="card-text">Vacuometros:
                            {{ count_vacuometro }}
                            <i class="fa fa-plus"
                               onclick="modal_function('{{ inst_vacuometro_more_info|escapejs }}')"></i>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 0Pa a 50Pa:
                            {% for k, v in inst_0_50_Pa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 1.1kPa a 7kPa:
                            {% for k, v in inst_1_7_kPa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 7.1kPa a 10kPa:
                            {% for k, v in inst_7_10_kPa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 10.1kPa a 20kPa:
                            {% for k, v in inst_10_20_kPa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text"> De 20.1kPa a 25kPa:
                            {% for k, v in inst_20_25_kPa.items %}
                                {{ k }}
                                <i class="fa fa-plus" onclick="modal_function('{{ v|escapejs }}')"></i>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Medidores de resistencia</h4>
            <br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title  text-center">Miliohm</h5>
                        {% for k, k1, dictionary in miliohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ k1 }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ohm</h5>
                        {% for k, k1, dictionary in ohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ k1 }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kiloohm</h5>
                        {% for k, k1, dictionary in kiloohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ k1 }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">Megaohm</h5>
                        {% for k, k1, dictionary in megaohm %}
                            <div class="dropdown-divider"></div>
                            <p class="card-text text-center">{{ k }}: {{ k1 }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/gen.js' %}"></script>
{% endblock %}