{% extends 'corp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="container border custom-background header-bordered ">
                <h2>Total de instrumentos</h2>
                <h4>(Incluidos en almacenamiento)</h4>
                <p>{{ cantidad_instrumentos }}</p>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Uso: {{ cant_uso }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_uso|escapejs }}')"></i>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Almacenados: {{ cant_alm }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_alm|escapejs }}')"></i>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4>Rotos: {{ cant_roto }}
                            <i class="fa fa-plus" onclick="modal_function('{{ inst_roto|escapejs }}')"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col text-center">
                <div class="container border custom-background ">
                    <h4>Total de instrumentos multifuncion con dos o mas nomenclaturas electricas</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Uso : {{ cant_inst_multifunc_elect_uso }}
                                <i class="fa fa-plus" onclick="modal_function('{{ multi_elect_uso|escapejs }}')"></i>
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Almacenados : {{ cant_inst_multifunc_elect_almacenado }}
                                <i class="fa fa-plus" onclick="modal_function('{{ multi_elect_alm|escapejs }}')"></i>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-center ">
                <div class="container border custom-background">
                    <h4>Total de instrumentos multifuncion con dos o mas nomenclaturas electricas</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Uso : {{ cant_inst_multifunc_nom_dif_uso }}
                                <i class="fa fa-plus" onclick="modal_function('{{ multi_nom_dif_uso|escapejs }}')"></i>
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <h5>Almacenados : {{ cant_inst_multifunc_nom_dif_almacenado }}
                                <i class="fa fa-plus" onclick="modal_function('{{ multi_nom_dif_alm|escapejs }}')"></i>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border header-bordered text-center">
            <h3>Todos los instrumentos por fabricante</h3>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for marca, ctd, dictionary in lista1 %}
                            <p class="card-text">{{ marca }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for marca, ctd, dictionary in lista2 %}
                            <p class="card-text">{{ marca }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for marca, ctd, dictionary in lista3 %}
                            <p class="card-text">{{ marca }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        {% for marca, ctd, dictionary in lista4 %}
                            <p class="card-text">{{ marca }} : {{ ctd }}
                                <i class="fa fa-plus" onclick="modal_function('{{ dictionary|escapejs }}')"></i>
                            </p>
                            <div class="dropdown-divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/gen.js' %}"></script>
{% endblock %}